### Breast Cancer Detection - Exploratory Data Analysis (EDA)

Download the mass case(train&test) csv data from this location: https://www.kaggle.com/datasets/awsaf49/cbis-ddsm-breast-cancer-image-dataset/data

In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [70]:
# open the csv file and read it into a pandas dataframe to understand the data
df = pd.read_csv('https://raw.githubusercontent.com/Periyzat/ml-zoomcamp/refs/heads/main/midtermProject/data/flight_delays_train.csv', sep=',', quotechar='"')


# set all the column names to lowercase
df.columns = map(str.lower, df.columns)

# preview the data
df.head()

,month,dayofmonth,dayofweek,deptime,uniquecarrier,origin,dest,distance,dep_delayed_15min
0,c-8,c-21,c-7,1934,AA,ATL,DFW,732,N
1,c-4,c-20,c-3,1548,US,PIT,MCO,834,N
2,c-9,c-2,c-5,1422,XE,RDU,CLE,416,N
3,c-11,c-25,c-6,1015,OO,DEN,MEM,872,N
4,c-10,c-7,c-6,1828,WN,MDW,OMA,423,Y

In [71]:
df.origin.unique()

array(['ATL', 'PIT', 'RDU', 'DEN', 'MDW', 'MEM', 'PBI', 'MSP', 'ONT',
       'BDL', 'PHX', 'LAS', 'DFW', 'DSM', 'CMH', 'ORF', 'SLC', 'CLT',
       'GSO', 'IAD', 'SMF', 'FLL', 'DAL', 'ORD', 'ITO', 'SAN', 'ROA',
       'LGA', 'SFO', 'GSP', 'SEA', 'DAB', 'SJC', 'LIT', 'LAX', 'OAK',
       'COS', 'OKC', 'GRR', 'JFK', 'BOI', 'MCI', 'BWI', 'BHM', 'CRP',
       'BOS', 'SAT', 'PHL', 'STL', 'CIC', 'AUS', 'IAH', 'COD', 'HNL',
       'RNO', 'BNA', 'TPA', 'MIA', 'EVV', 'PNS', 'EWR', 'RSW', 'ANC',
       'SNA', 'AMA', 'CID', 'DTW', 'DCA', 'LGB', 'MAF', 'MFE', 'BMI',
       'PDX', 'IPL', 'GRB', 'FAR', 'HOU', 'MTJ', 'DRO', 'MLU', 'VPS',
       'TUL', 'CVG', 'SBA', 'PWM', 'IDA', 'MCO', 'ACV', 'CHS', 'BGM',
       'MSY', 'OGG', 'CLE', 'MOB', 'CAK', 'FAY', 'SHV', 'TUS', 'IND',
       'CAE', 'PVD', 'ROC', 'MFR', 'VLD', 'ELP', 'RIC', 'MKE', 'SGF',
       'TYS', 'CHO', 'EGE', 'BIS', 'JAN', 'JAX', 'BUF', 'MSO', 'BGR',
       'CEC', 'ICT', 'MYR', 'ALB', 'LIH', 'SBP', 'AEX', 'GNV', 'SAV',
       'BTM', 'BRO', 'SJU', 'XNA', 'CPR', 'SDF', 'JAC', 'AVL', 'PHF',
       'GPT', 'SYR', 'PSP', 'MHT', 'MRY', 'CLD', 'FAT', 'MSN', 'ISP',
       'BUR', 'PSC', 'MEI', 'LEX', 'LBB', 'GEG', 'LFT', 'OMA', 'ISO',
       'MGM', 'GRK', 'AVP', 'ABQ', 'SRQ', 'BTV', 'FLG', 'BTR', 'MDT',
       'ABI', 'TRI', 'ADQ', 'FSM', 'SMX', 'RST', 'RAP', 'ILM', 'SIT',
       'EKO', 'DBQ', 'CHA', 'BQK', 'BZN', 'MOD', 'MOT', 'MLB', 'TVC',
       'LAN', 'DAY', 'HSV', 'EUG', 'SGU', 'ACT', 'AGS', 'CLL', 'HLN',
       'LNK', 'ASE', 'HRL', 'ATW', 'CMI', 'LWS', 'DHN', 'FNT', 'FLO',
       'RDM', 'TYR', 'KOA', 'FAI', 'OME', 'RDD', 'MCN', 'TLH', 'MQT',
       'AZO', 'FCA', 'CRW', 'TOL', 'HPN', 'FSD', 'FWA', 'SUN', 'LAW',
       'YUM', 'PIA', 'GTF', 'ACY', 'PIH', 'SPS', 'MLI', 'BIL', 'TWF',
       'HTS', 'SBN', 'PFN', 'GJT', 'CSG', 'JNU', 'TXK', 'LRD', 'BQN',
       'CWA', 'SWF', 'GTR', 'BFL', 'OXR', 'KTN', 'PIE', 'SCE', 'PSG',
       'DLH', 'SJT', 'GUC', 'SPI', 'IYK', 'ABY', 'STT', 'ABE', 'GFK',
       'HDN', 'CDV', 'MBS', 'TUP', 'LCH', 'EYW', 'OTZ', 'ADK', 'GGG',
       'VIS', 'GST', 'LYH', 'HVN', 'BRW', 'LSE', 'ERI', 'HKY', 'BET',
       'CDC', 'OAJ', 'WRG', 'ACK', 'DLG', 'YAK', 'AKN', 'TEX', 'STX',
       'SCC', 'APF', 'BPT', 'WYS', 'RFD', 'BLI', 'ILG', 'VCT', 'LWB',
       'PSE'], dtype=object)

In [72]:
len(df.origin.unique())

289

In [73]:
df.origin.value_counts()

ATL    5834
ORD    4870
DFW    4270
LAX    3259
IAH    3048
       ...
VIS       1
WYS       1
ILG       1
VCT       1
ADK       1
Name: origin, Length: 289, dtype: int64

In [74]:
(df.origin.value_counts()>100).sum()

119

In [75]:
df.isna().sum()

month                0
dayofmonth           0
dayofweek            0
deptime              0
uniquecarrier        0
origin               0
dest                 0
distance             0
dep_delayed_15min    0
dtype: int64

In [76]:
# find duplicates on the dataset
duplicate_rows_df = df[df.duplicated(keep=False)]
print('number of duplicate rows: ', duplicate_rows_df.shape)

# sort the rows by all columns
duplicate_rows_df = duplicate_rows_df.sort_values(by=list(df.columns))

# sample the dups
print(duplicate_rows_df.head(10))

# remove the duplicates keepinq the first occurrence
df = df.drop_duplicates(keep='first')

number of duplicate rows:  (0, 9)
Empty DataFrame
Columns: [month, dayofmonth, dayofweek, deptime, uniquecarrier, origin, dest, distance, dep_delayed_15min]
Index: []

In [77]:
# display the columns and their data types
print(df.dtypes)
df.shape

month                object
dayofmonth           object
dayofweek            object
deptime               int64
uniquecarrier        object
origin               object
dest                 object
distance              int64
dep_delayed_15min    object
dtype: object

(100000, 9)

In [78]:
df.subtlety.unique()

AttributeError: 'DataFrame' object has no attribute 'subtlety'

In [19]:
df.subtlety.value_counts()

5    543
4    375
3    257
2    100
1     41
0      2
Name: subtlety, dtype: int64

P_00106    14
P_01039    12
P_01103     6
P_00797     6
P_00207     6
           ..
P_01553     1
P_01299     1
P_00720     1
P_01559     1
P_01556     1
Name: patient_id, Length: 691, dtype: int64